<p style="color: green"><%= notice %></p>

<h1>Libros</h1>

<div id="libros">
  <% @libros.each do |libro| %>
    <%= render libro %>
    <p>
      <%= link_to "Mostrar Libro", libro %>
    </p>
  <% end %>
</div>

<%= link_to "Crear Nuevo Libro", new_libro_path %>
